.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.resetform{
    width: 420px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background : transparent;
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 15px;
    padding: 30px 40px;
}
button {
    margin-top: 15px;
}
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 16px;
    color: white;
    border: 1px solid #ccc;
    border-radius: 18px;
    background-color: transparent;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  .error{
   color: red;
  }
  .success{
    color: green;
  }