.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forgotpwd{
    width: 420px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background : transparent;
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 15px;
    padding: 30px 40px;
}