
.wrapper{
    /* width: 420px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background : transparent;
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 15px;
    padding: 30px 40px;
    margin-left: 750px;
    margin-top: 145px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.loginform{
    width: 420px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background : transparent;
    border: 2px solid rgba(225,225,225,.2);
    border-radius: 15px;
    padding: 30px 40px;
    /* margin-left: 750px; */
    /* margin-top: 145px;  */
}
.wrapper h1{
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 1px solid white;
    background: transparent;
    /* background-color: bisque; */
    color: white;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}
.input-box input::placeholder{
    color: white;
}
.wrapper button{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0, -1);
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}
.error{
    text-align: center;
    color: red;
    margin-top: 4px;;
}
Title{
    color: white;
}